In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day27-one-hot-encoding/cars.csv')

In [4]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [5]:
df.value_counts()

brand   km_driven  fuel    owner         selling_price
Jaguar  45000      Diesel  First Owner   3200000          34
Lexus   20000      Petrol  First Owner   5150000          34
Toyota  68089      Petrol  First Owner   2000000          32
Honda   56494      Petrol  First Owner   550000           32
Toyota  79328      Diesel  Second Owner  750000           31
                                                          ..
Jeep    12000      Diesel  First Owner   1500000           1
        10000      Petrol  First Owner   1520000           1
Jaguar  70000      Diesel  Second Owner  3000000           1
        35000      Diesel  First Owner   3500000           1
Volvo   72500      Diesel  Second Owner  1200000           1
Length: 6450, dtype: int64

In [6]:
## Onehotencoding using pandas

pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [7]:
## K-1 OneHotEncoding

pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [8]:
df.head(2)

    brand  km_driven    fuel         owner  selling_price
0  Maruti     145500  Diesel   First Owner         450000
1   Skoda     120000  Diesel  Second Owner         370000

In [9]:
x = df.drop(columns=['selling_price'],axis=1)
y = df['selling_price']

In [10]:
x.head()

     brand  km_driven    fuel         owner
0   Maruti     145500  Diesel   First Owner
1    Skoda     120000  Diesel  Second Owner
2    Honda     140000  Petrol   Third Owner
3  Hyundai     127000  Diesel   First Owner
4   Maruti     120000  Petrol   First Owner

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.3,random_state=0)

x_train.shape,x_test.shape

((2438, 4), (5690, 4))

In [14]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop ='first',sparse=False,dtype=np.int32)

In [15]:
x_train_new = ohe.fit_transform(x_train[['fuel','owner']])
x_test_new = ohe.transform(x_test[['fuel','owner']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [16]:
x_train_new.shape

(2438, 7)

In [18]:
np.hstack((x_train[['brand','km_driven']].values,x_train_new))

array([['Hyundai', 80000, 1, ..., 0, 0, 1],
       ['Ford', 298000, 1, ..., 1, 0, 0],
       ['Volvo', 17000, 1, ..., 0, 0, 0],
       ...,
       ['Hyundai', 90000, 0, ..., 1, 0, 0],
       ['Volkswagen', 90000, 1, ..., 0, 0, 0],
       ['Hyundai', 110000, 0, ..., 0, 0, 0]], dtype=object)